%h4 Available spaces
- if @spaces.any?
  %table.mdl-data-table.mdl-js-data-table.mdl-data-table.mdl-shadow--2dp
    %thead
      %tr
        %th #
        %th.mdl-data-table__cell--non-numeric Name
        %th Price
        %th.mdl-data-table__cell--non-numeric Available?
        %th.mdl-data-table__cell--non-numeric Description
    %tbody
      - @spaces.each.with_index do |space, index|
        %tr
          %td= index + 1
          %td.mdl-data-table__cell--non-numeric= space.name
          %td= space.price
          %td.mdl-data-table__cell--non-numeric TBD
          %td.mdl-data-table__cell--non-numeric= space.description
- else
  No spaces found

%a(href="") Add a restaurant
