/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.spaceListTable {
  position: relative;
  border: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  white-space: wrap;
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  font-size: 13px;
}

tr {
  border: 1px solid rgba(0,0,0,.12);
}

tr > td {
  padding: 5px;
  padding-left: 10px;
}

.showSpaceTable {
     display: table;
     border-collapse: separate;
     border-spacing: 2px;
      -webkit-border-horizontal-spacing: 2px;
      -webkit-border-vertical-spacing: 2px;
     border-color: grey;
       border-top-color: grey;
       border-right-color: grey;
       border-bottom-color: grey;
       border-left-color: grey;
}

.searchBox {
  height:30px;
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  font-size:14px;
}

footer a:link {
    color: rgb(158,158,158);
}

footer a:visited {
    color: rgb(158,158,158);
}

footer a:hover {
    color: rgb(158,158,158);
}

footer a:active {
    color: rgb(158,158,158);
}

.msg {
  font-weight: bold;
  font-size: small;
  padding: 12px;
  padding-left: 16px;
  border-radius: 5px;
  margin: 10px;
}

.msg-danger {
  background-color: #FF9C9C;
}

.msg-success {
  background-color: #C0FFD7;
}

.msg-success-text {
  color: #00C448;
}

.msg-danger-text {
  color: #c9302c;
}
