!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title MakersBnbRails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://code.getmdl.io/1.2.1/material.teal-green.min.css", :rel => "stylesheet"}/
    %script{:defer => "defer", :src => "https://code.getmdl.io/1.2.1/material.min.js"}
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      %header.mdl-layout__header
        .mdl-layout__header-row
          / Title
          %span.mdl-layout-title Makers BnB
          / Add spacer, to align navigation to the right
          .mdl-layout-spacer
          / Navigation. We hide it in small screens.
          %nav.mdl-navigation.mdl-layout--large-screen-only
            Put user name here
      #menu.mdl-layout__drawer
        %span.mdl-layout-title Makers BnB
        %nav.mdl-navigation
          %a.mdl-navigation__link{:href => "/spaces"} Spaces
          %a.mdl-navigation__link{:href => ""} Link
          %a.mdl-navigation__link{:href => ""} Link
      %main.mdl-layout__content
        .page-content
          .mdl-grid
            .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
              = yield
